.profile-container {
    background-image: url('../img/login_img.jpg') ;
    background-size: cover ;
    background-position: center ;
    height: 100vh ;
    width: 100% ;
    color: white;
    /* margin: 40px; */
    padding: 60px;
}

.user-img {
    width: 150px;
    height: 150px;
}
